@font-face {
  font-family: Rufina-Regular;
  src: url(../../assets/fonts/Rufina-Regular.ttf) format("ttf");
}

@font-face {
  font-family: Rufina-Bold;
  src: url(../../assets/fonts/Rufina-Bold.ttf) format("ttf");
}

@font-face {
  font-family: AverageSans-Regular;
  src: url(../../assets/fonts/AverageSans-Regular.ttf) format("ttf");
}
