// Colours
$primaryColor1: #263339;
$primaryColor2: #6f675b;
$primaryColor3: #a0aab3;
$primaryColor4: #bbc6c5;
$primaryColor5: #eae8da;

$secondaryColor1: #5e685d;
$secondaryColor2: #e9ded3;
$secondaryColor3: #cfdbeb;
$secondaryColor4: #394445;
$secondaryColor5: #ceb96e;
